@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/mixins" as *;

.home {
  margin: 0;
  // padding: 2rem; // want bubbles' colours to extend full width
  width: inherit;
  display: flex;
  flex-direction: column;
  //   justify-content: space-around;
  box-sizing: border-box;
}
