@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/mixins" as *;

.bio {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__title {
    justify-self: flex-start;
  }

  &__bubble {
    padding: 1rem;
    justify-self: center;
    background-color: $bkgd-col;
    border-radius: 0.625rem;
  }
}
