@use "_fonts.scss" as *;
@use "_variables.scss" as *;
@use "_mixins.scss" as *;

ul {
  list-style-type: none;
}

// BRANDING
// font-family: "Gill Sans MT Condensed", "Outfit Medium", sans-serif;
// font-family: "Franklin Gothic Demi", "Outfit Medium", sans-serif;

// NAME
h1 {
  margin: 0;
  color: $light;
  font-family: "Outfit Medium", sans-serif;
  font-size: 2.75rem;
  line-height: 3rem;
  //   font-weight: 400;
  @include tablet {
    font-size: 2.5rem;
    line-height: 2.5rem;
    // font-weight: 400;
  }
  //   @include desktop {
  //     font-size: 2.5rem;
  //     line-height: 2.5rem;
  //     // font-weight: 400;
  //   }
}

// HEADERS
h2 {
  margin: 0;
  color: $light;
  font-family: "Gill Sans MT Condensed", "Outfit Medium", sans-serif;
  // font-family: "Outfit Medium", sans-serif;
  font-size: 2.625rem;
  line-height: 3.375rem;
  //   font-weight: 300;
  //   font-style: normal;
  @include tablet {
    font-size: 3.25rem;
    line-height: 4.125rem;
    // font-weight: 300;
    // font-style: normal;
  }
  //   @include desktop {
  //     font-size: 3.25rem;
  //     line-height: 4.125rem;
  //     // font-weight: 300;
  //     // font-style: normal;
  //   }
}

// HEADERS - ALT COLOUR
.h2--alt {
  margin: 0;
  color: $light;
  font-family: "Gill Sans MT Condensed", "Outfit Medium", sans-serif;
  // font-family: "Outfit Medium", sans-serif;
  font-size: 2.625rem;
  line-height: 3.375rem;
  //   font-weight: 300;
  //   font-style: italic;
  @include tablet {
    font-size: 3.25rem;
    line-height: 4.125rem;
    // font-weight: 300;
    // font-style: italic;
  }
  //   @include desktop {
  //     font-size: 3.25rem;
  //     line-height: 4.125rem;
  //     // font-weight: 300;
  //     // font-style: italic;
  //   }
}

// HEADING
h3 {
  margin: 0;
  color: $accent;
  font-family: "Gill Sans MT Condensed", "Outfit Medium", sans-serif;
  // font-family: "Outfit Medium", sans-serif;
  font-size: 2.125rem;
  line-height: 2.4375rem;
  // font-weight: 500;
  // font-style: normal;
  @include tablet {
    font-size: 1.5rem;
    line-height: 1.875rem;
    // font-weight: 500;
    // font-style: normal;
  }
  // @include desktop {
  //   font-size: 1.5rem;
  //   line-height: 1.875rem;
  //   // font-weight: 500;
  //   // font-style: normal;
  // }
}

// BODY HEAD LIGHT
h4 {
  margin: 0;
  color: $light;
  font-family: "Gill Sans MT Condensed", "Outfit Medium", sans-serif;
  // font-family: "Outfit Medium", sans-serif;
  font-size: 2.25rem;
  line-height: 1.9375rem;
  // font-weight: 300;
  // font-style: normal;
  @include tablet {
    font-size: 1.25rem;
    line-height: 1.625rem;
    // font-weight: 300;
    // font-style: normal;
  }
  // @include desktop {
  //   font-size: 1.25rem;
  //   line-height: 1.625rem;
  //   // font-weight: 300;
  //   // font-style: normal;
  // }
}

// BODY COPY
p {
  margin: 0;
  color: $light;
  font-family: "Franklin Gothic Demi", "Outfit Medium", sans-serif;
  // font-family: "Outfit Medium", sans-serif;
  font-size: 1.75rem;
  line-height: 1.9375rem;
  //   font-weight: 500;
  //   font-style: normal;
  @include tablet {
    font-size: 1.25rem;
    line-height: 1.625rem;
    // font-weight: 500;
    // font-style: normal;
  }
  //   @include desktop {
  //     font-size: 1.25rem;
  //     line-height: 1.625rem;
  //     // font-weight: 500;
  //     // font-style: normal;
  //   }
}
// BODY COPY - ALT COLOUR
.p--alt {
  margin: 0;
  color: $dark;
  font-family: "Franklin Gothic Demi", "Outfit Medium", sans-serif;
  font-size: 1.75rem;
  line-height: 1.9375rem;
  //   font-weight: 500;
  //   font-style: normal;
  @include tablet {
    font-size: 1.25rem;
    line-height: 1.625rem;
    // font-weight: 500;
    // font-style: normal;
  }
  //   @include desktop {
  //     font-size: 1.25rem;
  //     line-height: 1.625rem;
  //     // font-weight: 500;
  //     // font-style: normal;
  //   }
}

// LINK
a {
  margin: 0;
  text-decoration: none;
  color: $light;
  font-family: "Franklin Gothic Demi", "Outfit Medium", sans-serif;
  // font-family: "Outfit Medium", sans-serif;
  font-size: 1.75rem;
  line-height: 0.9375;
  // font-weight: 500;
  // font-style: normal;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.0938rem;
    // font-weight: 500;
    // font-style: normal;
  }
  //   @include desktop {
  //     font-size: 0.875rem;
  //     line-height: 1.0938rem;
  //     // font-weight: 500;
  //     // font-style: normal;
  //   }
}

.subtitle {
  font-family: "Gill Sans MT Condensed", "Outfit Medium", sans-serif;
}

a:hover {
  @extend a;
  color: $light;
}

a:focus {
  @extend a;
  color: $accent;
}
