@use "_fonts.scss" as *;
@use "_variables.scss" as *;
@use "_mixins.scss" as *;

ul {
  list-style-type: none;
}

// BRANDING
// font-family: "Gill Sans MT Condensed", "Outfit Medium", sans-serif;
// font-family: "Franklin Gothic Demi", "Outfit Medium", sans-serif;

// NAME
h1 {
  margin: 0;
  color: $light;
  font-family: "Outfit Medium", sans-serif;
  font-size: 2.75rem;
  line-height: 3rem;
  @include tablet {
    font-size: 3rem;
    line-height: 3.25rem;
  }
  @include desktop {
    font-size: 4rem;
    line-height: 4.25rem;
  }
}

// HEADERS
h2 {
  margin: 0;
  color: $light;
  font-family: "Gill Sans MT Condensed", "Outfit Medium", sans-serif;
  font-size: 3.625rem;
  line-height: 4.375rem;
  @include tablet {
    font-size: 3.25rem;
    line-height: 4.125rem;
  }
  @include desktop {
    font-size: 3.875rem;
    line-height: 4.75rem;
  }
}

// HEADERS - ALT COLOUR
.h2--alt {
  margin: 0;
  color: $light;
  font-family: "Gill Sans MT Condensed", "Outfit Medium", sans-serif;
  font-size: 2.625rem;
  line-height: 3.375rem;
  @include tablet {
    font-size: 3.25rem;
    line-height: 4.125rem;
  }
  @include desktop {
    font-size: 3.875rem;
    line-height: 4.75rem;
  }
}

// HEADING
h3 {
  margin: 0;
  color: $accent;
  font-family: "Gill Sans MT Condensed", "Outfit Medium", sans-serif;
  font-size: 2.125rem;
  line-height: 2.4375rem;
  @include tablet {
    font-size: 2.5rem;
    line-height: 2.875rem;
  }
  @include desktop {
    font-size: 2.75rem;
    line-height: 3.125rem;
  }
}

// BODY HEAD LIGHT
h4 {
  margin: 0;
  color: $light;
  font-family: "Gill Sans MT Condensed", "Outfit Medium", sans-serif;
  font-size: 2.25rem;
  line-height: 1.9375rem;
  @include tablet {
    font-size: 2.5rem;
    line-height: 2.25rem;
  }
  @include desktop {
    font-size: 3.375rem;
    line-height: 2.875rem;
  }
}

// BODY COPY
p {
  margin: 0;
  color: $light;
  font-family: "Franklin Gothic Demi", "Outfit Medium", sans-serif;
  font-size: 1.75rem;
  line-height: 1.9375rem;
  @include tablet {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  @include desktop {
    font-size: 2.375rem;
    line-height: 2.75rem;
  }
}

// BODY COPY - ALT COLOUR
.p--alt {
  margin: 0;
  color: $light;
  font-family: "Gill Sans MT Condensed", "Outfit Medium", sans-serif;
  font-size: 1.75rem;
  line-height: 1.9375rem;
  @include tablet {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  @include desktop {
    font-size: 2.375rem;
    line-height: 2.75rem;
  }
}

// LINK
a {
  margin: 0;
  text-decoration: none;
  color: $light;
  font-family: "Franklin Gothic Demi", "Outfit Medium", sans-serif;
  font-size: 1.75rem;
  line-height: 1.9375rem;
  @include tablet {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  @include desktop {
    font-size: 2.375rem;
    line-height: 2.75rem;
  }
}

// PROJECTS
.subtitle {
  font-family: "Gill Sans MT Condensed", "Outfit Medium", sans-serif;
  font-size: 2.25rem;
  line-height: 1.9375rem;
  @include tablet {
    font-size: 2.5rem;
    line-height: 2.25rem;
  }
  @include desktop {
    font-size: 3.375rem;
    line-height: 2.875rem;
  }
}

a:hover {
  @extend a;
  color: $light;
}

a:focus {
  @extend a;
  color: $accent;
}
