// ------------ BREAKPOINTS -------------
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;

// ------------- COLOURS ----------------

// ------------- Pop ----------------
$orange: #ff9412;
$pink: #ff207d;
// ------------ Background ---------------
$bkgd: #ffeac2;
// ------------ Text --------------
$dark: #5e3b00;
$light: #fff4cb;
