// ------------ BREAKPOINTS -------------
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;

// ------------- COLOURS ----------------
// NEW - MOSSY
$accent: #7a9e7e;
// ------------ Background ---------------
$bkgd-col: #4b7b68;
// $bkgd-shade: #37353c;
$bkgd-shade: #6d6875;
// ------------ Text --------------
$dark: #080705;
$light: #fffffa;

// OLD - HIPPIE 70s BUBBLEGUM POP VIBE
// // ------------- Pop ----------------
// $orange: #ff9412;
// $pink: #ff207d;
// // ------------ Background ---------------
// $bkgd: #ffeac2;
// // ------------ Text --------------
// $dark: #5e3b00;
// $light: #fff4cb;
// // ------------- Pop ----------------
// $orange: #ff9412;
// $pink: #ff207d;
// // ------------ Background ---------------
// $bkgd: #ffeac2;
// // ------------ Text --------------
// $dark: #5e3b00;
// $light: #fff4cb;
// // ------------- Pop ----------------
// $orange: #ff9412;
// $pink: #ff207d;
// // ------------ Background ---------------
// $bkgd: #ffeac2;
// // ------------ Text --------------
// $dark: #5e3b00;
// $light: #fff4cb;
// // ------------- Pop ----------------
// $orange: #ff9412;
// $pink: #ff207d;
// // ------------ Background ---------------
// $bkgd: #ffeac2;
// // ------------ Text --------------
// $dark: #5e3b00;
// $light: #fff4cb;
