@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/mixins" as *;

.photo-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &__headshot {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__headshot--img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
}
