@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/mixins" as *;

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;

  &__text-wrap {
    padding: 2rem 0;
    width: inherit;
  }

  &__mobile-wrap {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__role {
    font-style: oblique;
    justify-self: flex-end;
  }
}
