@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/mixins" as *;

.footer {
  width: 100%;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: $dark;

  &__contact {
    width: inherit;
    box-sizing: border-box;
  }

  // REPRESENTATION LINE -------------
  &__contact-representatives {
    margin-top: 1rem;
  }

  &__contact-reps--link:link {
    font-size: 1.75rem;
    font-family: "Franklin Gothic Demi", "Outfit Medium", sans-serif;
    color: $light;
    cursor: pointer;
  }

  &__contact-reps--link:hover {
    color: $accent;
    // background-color: $accent; // alt idea
  }

  // &__contact-reps--link:visited {
  //   color: $light; // when active, conceals hover effect because it keeps the font set to the visited colour!
  // }

  &__contact-reps--link:active {
    color: $bkgd-col;
  }
  // REPRESENTATION LINE ^^^^^^^^^^

  // IMDB - LINKEDIN -------------
  &__contact-lists {
    padding: 1rem 0 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    @include tablet {
      padding-left: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      box-sizing: border-box;
    }
    @include desktop {
    }
  }

  &__contact-list {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include tablet {
      margin-bottom: 2rem;
    }

    @include desktop {
    }
  }

  &__contact-list--link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: $accent;
    color: $accent;
  }

  &__contact-list--icon {
    height: 3rem;
  }

  // Not working for whatever reason, maybe the reloads are failing me
  &__contact-list--link:link * {
    color: $accent;
    fill: $accent;
  }

  // this is working so not toying with it for the moment!
  &__contact-list--link:hover * {
    color: $light;
    fill: $light;
  }

  &__contact-list--link:visited * {
    color: $light;
    fill: $light;
  }

  &__contact-list--link:active * {
    color: $bkgd-col;
    fill: $bkgd-col;
  }

  &__contact-list--title {
    margin-top: 0.5rem;
    font-size: 2rem;
  }
  // IMDB - LINKEDIN ^^^^^^^^^^^^

  // COPYRIGHT SECTION
  &__text-wrap {
    margin-top: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid $light;
  }

  &__copyright {
    font-size: 1.25rem;
    font-family: "Gill Sans MT Condensed", "Outfit Medium", sans-serif;
    // line-height: 0;
  }

  &__patMyselfOnTheBack {
    font-size: 1rem;
    font-family: "Gill Sans MT Condensed", "Outfit Medium", sans-serif;
  }

  // TABLET - DESKTOP LAYOUT
  &__tab-desk-wrap {
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: stretch;
      box-sizing: border-box;
    }
    @include desktop {
    }
  }
}

// TABLET - DESKTOP LAYOUT - SECTIONS
.tab-desk--1 {
  @include tablet {
    width: 80%;
  }
}
@include desktop {
}

.tab-desk--2 {
  @include tablet {
    width: 20%;
  }
}
@include desktop {
}
