@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/mixins" as *;

.nav {
  width: inherit;
  height: max-content;
  background-color: $bkgd-shade;

  &__list {
    padding: 1rem 0;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__link-text {
    width: 50%;
    padding: 1rem 0;
    border-bottom: 1px solid $light;
  }
}
