@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/mixins" as *;

.projects {
  margin: 2rem 0;
  width: 100%;

  &__accordion {
    display: flex;
    flex-direction: column;
  }
}
