@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/mixins" as *;

.projects {
  margin: 2rem 0;
  padding: 2rem;
  width: inherit;
  background-color: $dark;

  &__title {
    border-bottom: 0.125rem solid $light;
  }

  &__subtitle {
    padding-top: 1rem;
    border-bottom: 0.0625rem solid $light;
  }

  &__accordion {
    display: flex;
    flex-direction: column;
  }
}

button {
  margin: 0;
  border: none;
  cursor: pointer;
  // if global.scss button design gets overwritten, update manually here
}
